

    {% for post in posts %}



            <div class="mdl-cell mdl-cell--12-col card-lesson mdl-card mdl-color--white mdl-shadow--2dp">
  <div class="mdl-card__title">
    <img class="img-rounded profile-thumbnail media-object" src="{{ post.author.gravatar(size=40) }}">&nbsp
    <h2 class="mdl-card__title-text"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></h2>
  </div>
  <div class="mdl-card__supporting-text">
    {% if post.body_html %}
  {{ post.body_html | safe }}
  {% else %}
  {{ post.body }}
  {% endif %}
  {% if current_user.has_answered(post)==True %}
  <div class="progress">
    <div class="progress-bar progress-bar-primary" style="width: {{ ((post.answers.filter_by(opinion=True).count())/(post.answers.count())*100)}}%;"></div>
    <div class="progress-bar progress-bar-danger" style="width:{{100-((post.answers.filter_by(opinion=True).count())/(post.answers.count())*100)}}% ;"></div>
  </div>
  <span class="label label-green">Yes-{{((post.answers.filter_by(opinion=True).count())/(post.answers.count())*100)}}% </span>&nbsp
  <span class="label label-danger">No-{{100-((post.answers.filter_by(opinion=True).count())/(post.answers.count())*100)}}% </span>
  {% endif %}
</div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
    {% if current_user.has_answered(post)==False %}
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--teal-green" href="{{url_for('.answer_yes',id=post.id)}}">Yes</a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--red" href="{{url_for('.answer_no',id=post.id)}}">No</a>
    {% endif %}
  </div>
  <div class="mdl-cell mdl-cell--6-col text-right">

    {% if current_user == post.author %}
    <a href="{{url_for('.edit',id=post.id)}}" class="material-icons mdl-badge mdl-badge--overlap">edit</a>
    {% elif current_user.is_administrator() %}
    <a href="{{url_for('.edit',id=post.id)}}" class="material-icons mdl-badge mdl-badge--overlap">border color</a>
    {% endif %}

    <a href="{{url_for('.post',id=post.id)}}" class="material-icons mdl-badge mdl-badge--overlap">link</a>
    <a href="{{ url_for('.post',id=post.id)}}#comments" class=" material-icons mdl-badge mdl-badge--overlap" data-badge="{{ post.comments.count()}}">chat</a>
    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
    <a href="{{ url_for('.moderate')}}" class="material-icons mdl-badge mdl-badge--overlap">mode comment</a>
    {% endif %}
  </div>
  </div>
  <div class="mdl-card__menu">
   {{ moment(post.timestamp).fromNow()}}
 </div>
</div>
</div>



    {% endfor %}
